<% if weathers.any? %>
  <h1>各地の天気一覧</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>場所</th>
        <th>天気</th>
        <th>時間</th>
      </tr>
    </thead>
    <tbody>
      <% weathers.each do |weather| %>
        <tr>
          <td><%= link_to weather.location, weather %></td>
          <td><%= weather.content %></td>
          <td><%= l weather.created_at %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div>
    <%= paginate weathers %>
  </div>
<% end %>
