<h1>各地の天気一覧</h1>

<ul>  
  <% @weathers.each do |weather| %>
    <li><%= weather.content %></li>
    <p>各地の天気詳細ページへ<%= link_to weather.id, weather_path(weather) %></p>
  <% end %>  
</ul>

<%= link_to "現在の天気は？", new_weather_path %>