<% if logged_in? %>
  <p>ログイン完了ユーザー<%= current_user.name %></p>
  <%= render "weathers/toppage", weathers: @weathers %>
<% else %>
  <div class="center jumbotron mt-3">
    <div class="text-center">
      <h1 class="text-primary">MAKE NEW ACCOUT！</h1>
      <%= link_to "新規作成", new_user_path, class: "btn btn-info btn-lg" %>
    </div>
    <div class="text-center">
      <h1 class="text-info">Do you have account?</h1>
      <%= link_to "ログイン", login_path, class: "btn btn-info btn-lg" %>
    </div>
  </div>
<% end %>